@model IEnumerable<Person>

@{
    ViewData["Title"] = "Lista";
}


<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.PersonName)</th>
        <th>@Html.DisplayNameFor(model => model.PersonAge)</th>
        <th>Actions</th>
    </tr>
    <tr></tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonAge)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.PersonId}, new {@class="btn btn-secondary" })
                @Html.ActionLink("Edit", "Edit", new { id = item.PersonId}, new {@class="btn btn-success" })
                @Html.ActionLink("Delete", "Delete", new { id = item.PersonId}, new {@class="btn btn-danger" })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Add Person", "Create", "Person", new {id = Model.Max(x => x.PersonId) + 1}, htmlAttributes: new {@class="btn btn-primary" })
</p>